@model ToTheMoon.Models.NewSpaceRequest

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NewSpaceRequest</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpaceID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpaceID)
                @Html.ValidationMessageFor(model => model.SpaceID)
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.brief, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.brief)
                    @Html.ValidationMessageFor(model => model.brief)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.capacity, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.capacity)
                    @Html.ValidationMessageFor(model => model.capacity)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.increase, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.increase)
                    @Html.ValidationMessageFor(model => model.increase)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to Dashboard", "../Dashboard")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
