@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ToTheMoon.Models;
@model ToTheMoon.Models.NewSpaceRequest

@{
    ViewBag.Title = "Review";
}

<h2>Comment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Space Request</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.name)
                @Html.HiddenFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.brief, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.brief)
                @Html.ValidationMessageFor(model => model.brief)
            </div>
        </div>
        @{if (ViewBag.UserRole == GlobalRole.ADMIN)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.comment, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.comment, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.comment)
                </div>
            </div>
        }
        else if (Model.comment != null && Model.comment != "")
        {
            <div class="form-group">
                @Html.LabelFor(model => model.comment, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.comment, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.comment)
                </div>
            </div>
        }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{if (ViewBag.UserRole == GlobalRole.ADMIN)
                { <input type="submit" value="Save" class="btn btn-default" />
                    @Html.ActionLink("[Approve]", "Approve/" + Model.ID)
                    @Html.ActionLink("[Decline]", "Decline/" + Model.ID)}
                }
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
