@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ToTheMoon.Models;
@model ToTheMoon.Models.UserSpace

@{
    ViewBag.Title = "Change Space ACL";
}

<h2><b>Add Entry to</b> Space ACL</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@(Model.space.Name)</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.spaceKey)

        <div class="form-group">
            @Html.Label("Username", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @{
                    //I don't understand how this dropdown is meant to work, please fix it while i'm sleeping
                    List<SelectListItem> userList = new List<SelectListItem>();
                    foreach (ApplicationUser user in ViewBag.Users)
                    {
                        SelectListItem i = new SelectListItem();
                        i.Text = user.FirstName + " " + user.LastName + " (" + user.UserName + ")";
                        i.Value = user.Id;
                        userList.Add(i);
                    }
                    
                    @Html.DropDownListFor(model => model.userKey, new SelectList(userList, "Value", "Text"), new { @class = "form-control" })
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.role, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumDropDownListFor(model => model.role, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.role)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Space", "../Space/Review/" + Model.space.key)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
