@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@model ToTheMoon.Models.UserSpace

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserSpace</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProductId)

        <div class="form-group">
            @Html.Label("Username", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label(Model.user.FirstName + " " + Model.user.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.role, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.role)
                @Html.ValidationMessageFor(model => model.role)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Space", "../Space/Review/" + Model.space.key)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
