@model IEnumerable<ToTheMoon.Models.Request>

@{
    ViewBag.Title = "Requests";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Space")
</p>
<table class="table table-hover" border="1">
    <thead bgcolor="#222" style="color:white">
        @*<th>
            @Html.DisplayNameFor(model => model.Requester)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.HumanReadableRequestString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestTimestamp)
        </th>
        <th></th>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Requester)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.HumanReadableRequestString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestTimestamp)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.RequestID }) |*@
                @Html.ActionLink("Details", "Details", new { id = item.RequestID }) |
                @Html.ActionLink("Cancel", "Delete", new { id = item.RequestID })
                @* Comment link here for admins *@
            </td>
        </tr>
    }

</table>
