@model ToTheMoon.Models.NewSpaceRequest

@{
    ViewBag.Title = "Space Request";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Request for New Space</h4>
        <hr />
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            @Html.LabelFor(model => model.Requester, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Requester)
                @Html.ValidationMessageFor(model => model.Requester)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.SpaceName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpaceName)
                @Html.ValidationMessageFor(model => model.SpaceName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectID)
                @Html.ValidationMessageFor(model => model.ProjectID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StorageTotal, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StorageTotal)
                @Html.ValidationMessageFor(model => model.StorageTotal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearlyGrowth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearlyGrowth)
                @Html.ValidationMessageFor(model => model.YearlyGrowth)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
