@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ToTheMoon.Models;

<table class="table table-hover" border="1">
    <thead bgcolor="#222" style="color:white">
        <tr>
            <th>Requests for New Space</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NewSpaceRequest request in ViewBag.NewSpaceRequests)
        {
            <tr>
                <td>
                    <p>Request for [@(request.SpaceID)] @(request.name) with @(request.capacity)GB</p>
                    @Html.ActionLink("[Review]", "Review", "NewSpaceRequest", new { ID = request.ID }, null)

                    @{
                        if (ViewBag.UserRole != GlobalRole.REGULAR)
                        {
                            @Html.ActionLink("[Approve] ", "Approve", "NewSpaceRequest", new { ID = request.ID }, null)
                            @Html.ActionLink("[Decline]", "Decline", "NewSpaceRequest", new { ID = request.ID }, null)
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                To request new space, go @Html.ActionLink("here", "Create", "NewSpaceRequest").
            </td>
        </tr>
    </tfoot>
</table>