@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ToTheMoon.Models;

<table class="table table-hover" border="1">
    <thead bgcolor="#222" style="color:white">
        <tr>
            <th>Faculty Storage Spaces</th>
            @if (ViewBag.UserRole == GlobalRole.REGULAR)
            {
                <th>Role</th>
            }
            <th colspan="2">Total Space</th>
        </tr>
    </thead>

    <tbody>
        @{if (ViewBag.UserRole == GlobalRole.REGULAR)
        {
            foreach (ToTheMoon.Models.UserSpace userspace in ViewBag.UserSpaces)
            {
                <tr>
                    <td class="col-md-5">
                        <p>@userspace.space.Name</p>
                    </td>
                    @if (ViewBag.UserRole == GlobalRole.REGULAR)
                    {

                        <td class="col-md-2">
                            <p>@userspace.role</p>
                        </td>
                    }
                    <td class="col-md-3">
                        <p>
                            @userspace.space.used GB of @userspace.space.capacity GB @{
                if (ViewBag.UserRole != GlobalRole.REGULAR || /*something about user not being DM for this space*/ 1 == 1)
                {
                    @("| "); @Html.ActionLink("Request Increase", "../IncreaseSpaceRequest/Create", new { SpaceID = userspace.space.key });
                }
                            }
                        </p>
                    </td>
                    <td class="col-md-5">
                        <p>
                            <div class="progress">
                                @{
                double percentageComplete = ((float)userspace.space.used / (float)userspace.space.capacity) * 100;
                percentageComplete = Math.Round(percentageComplete, 0);
                                }
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@userspace.space.used" aria-valuemin="0" aria-valuemax=@userspace.space.capacity style="width: @percentageComplete%"></div>
                            </div>
                        </p>
                    </td>
                </tr>
            }
        }
        else
        {
            foreach (ToTheMoon.Models.Space space in ViewBag.Spaces)
            {
                <tr>
                    <td class="col-md-5">
                        <p>@space.Name</p>
                    </td>
                    <td class="col-md-3">
                        <p>
                            @space.used GB of @space.capacity GB @{
                if (ViewBag.UserRole != GlobalRole.REGULAR || /*something about user not being DM for this space*/ 1 == 1)
                {
                    @("| "); @Html.ActionLink("Request Increase", "../IncreaseSpaceRequest/Create", new { SpaceID = space.key });
                }
                            }
                        </p>
                    </td>
                    <td class="col-md-5">
                        <p>
                            <div class="progress">
                                @{
                double percentageComplete = ((float)space.used / (float)space.capacity) * 100;
                percentageComplete = Math.Round(percentageComplete, 0);
                                }
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@space.used" aria-valuemin="0" aria-valuemax="@space.capacity" style="width: @percentageComplete%"></div>
                            </div>
                        </p>
                    </td>
                </tr>
            }
        }

        }
    </tbody>
</table>
