<table class="table table-hover" border="1" style="width:48%" align="right">
    <thead bgcolor="#222" style="color:white">
        <tr>
            <th>Faculty Storage Spaces</th>
            <th>Total Space</th>
        </tr>
    </thead>

    <tbody>
@foreach (ToTheMoon.Models.Space space in ViewBag.Spaces)
    {
    <tr>
        <td>
            <p>@space.SpaceName </p>
            <p>@space.Description</p>
        </td>
        <td>
            <p>@space.SpaceUsed GB of @space.SpaceTotal GB</p>
            <p>
                <div class="progress" onclick="location.href='/Spaces/Details/@space.ID';">
                    @{
                        double percentageComplete = ((float)space.SpaceUsed / (float)space.SpaceTotal) * 100;
                        percentageComplete = Math.Round(percentageComplete, 0);
                    }
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@space.SpaceUsed" aria-valuemin="0" aria-valuemax=@space.SpaceTotal style="width: @percentageComplete%"></div>
                </div>

            </p>
        </td>
    </tr>
}
    </tbody>
</table>
