@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ToTheMoon.Models;

<table class="table table-hover" border="1">
    <thead bgcolor="#222" style="color:white">
        <tr>
            <th>Faculty Storage Spaces</th>

            @if (ViewBag.UserRole == GlobalRole.REGULAR)
            {
                <th>Role</th>
            }
            
            <th colspan="1">Total Space</th>
            <th>Options</th>
        </tr>
    </thead>

    <tbody>
        @{if (ViewBag.UserRole == GlobalRole.REGULAR)
        {
            foreach (ToTheMoon.Models.UserSpace userspace in ViewBag.UserSpaces)
            {
                <tr>
                    <!-- space name -->
                    <td class="col-md-3">
                        <span>@userspace.space.Name</span>
                    </td>

                    <!-- user's space-specific permissions -->
                    <td class="col-md-2">
                    @{
                        if(userspace.space.PIKey == User.Identity.GetUserId())
                        {
                            <span>Principal Investigator</span>
                        }
                        else if(userspace.role == SpaceRole.COLLAB_RO)
                        {
                            <span>Read-Only Reasearcher</span>
                        }
                        else if(userspace.role == SpaceRole.COLLAB_RW)
                        {
                            <span>Read/Write Reasearcher</span>
                        }
                        else //SpaceRole.DATAMANAGER
                        {
                            <span>Data Manager</span>
                        }
                    }
                    </td>

                    <!-- percentage bar -->
                    <td class="col-md-6">
                        <div class="progress" style="margin-bottom: 0px">
                            @{
                        double percentageComplete = ((float)userspace.space.used / (float)userspace.space.capacity) * 100;
                        percentageComplete = Math.Round(percentageComplete, 0);
                            }
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@userspace.space.used" aria-valuemin="0" aria-valuemax="@userspace.space.capacity" style="width: @percentageComplete%">
                                <p>@userspace.space.used GB of @userspace.space.capacity GB</p>
                            </div>
                        </div>
                    </td>

                    <!-- review link -->
                    <td class="col-md-1">
                        @Html.ActionLink("Review", "Review", "Space", new { ID = userspace.space.key }, null)
                    </td>
                </tr>
            }
        }
        else
        {
            foreach (ToTheMoon.Models.Space space in ViewBag.Spaces)
            {
                <tr>
                    <!-- space name -->
                    <td class="col-md-3">
                        <span>@space.Name</span>
                    </td>

                    <td class="col-md-8">
                            <div class="progress" style="margin-bottom: 0px">
                                @{
                double percentageComplete = ((float)space.used / (float)space.capacity) * 100;
                percentageComplete = Math.Round(percentageComplete, 0);
                                }
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@space.used" aria-valuemin="0" aria-valuemax="@space.capacity" style="width: @percentageComplete%">
                                    <p>@space.used GB of @space.capacity GB</p>
                                </div>
                            </div>
                    </td>

                    <td class="col-md-1">
                        @Html.ActionLink("Review", "Review", "Space", new { ID = space.key }, null)
                    </td>
                </tr>
            }
        }

        }
    </tbody>
</table>
