@model ToTheMoon.Models.IncreaseSpaceRequest

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IncreaseSpaceRequest</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SpaceID)

        <div class="form-group">
            @Html.LabelFor(model => model.space.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.space.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.brief, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.brief)
                @Html.ValidationMessageFor(model => model.brief)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.increase, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.increase)
                @Html.ValidationMessageFor(model => model.increase)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Dashboard", "../Dashboard")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
