@model ToTheMoon.Models.IncreaseSpaceRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IncreaseSpaceRequest</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.brief)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brief)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.increase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.increas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
