@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ToTheMoon.Models;
@model ToTheMoon.Models.IncreaseSpaceRequest

@{
    ViewBag.Title = "Review";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IncreaseSpaceRequest</h4>
        <hr />
        @Html.DisplayFor(model => model.space.Name)
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.space.key)

        <div class="form-group">
            @Html.LabelFor(model => model.brief, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.brief)
                @Html.ValidationMessageFor(model => model.brief)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.increase, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.increase)
                @Html.ValidationMessageFor(model => model.increase)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.timestamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.timestamp)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("[Approve]", "Approve/" + Model.ID)
                @Html.ActionLink("[Decline]", "Decline/" + Model.ID)}
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Dashboard", "../Dashboard")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
