@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ToTheMoon.Models;
@model ToTheMoon.Models.IncreaseSpaceRequest

@{
    ViewBag.Title = "Review Increase Space Request";
}

<h2><b>Review</b> Increase Space Request</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Html.DisplayFor(model => model.space.Name)</h4>
        @Html.HiddenFor(model => model.space.key)
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.brief, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">
                    @Html.DisplayFor(model => model.brief)
                    @Html.ValidationMessageFor(model => model.brief)
                </p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.increase, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">
                    @Html.DisplayFor(model => model.increase) GB
                    @Html.ValidationMessageFor(model => model.increase)
                </p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.timestamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p class="form-control-static">
                    @Html.DisplayFor(model => model.timestamp)
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p class="form-control-static">
                    @{
                        if(ViewBag.UserRole != GlobalRole.REGULAR)
                        { 
                            @Html.ActionLink("Approve", "Approve", "IncreaseSpaceRequest", new { ID = Model.ID }, new { @class = "btn btn-success"})
                            @Html.ActionLink("Decline", "Decline", "IncreaseSpaceRequest", new { ID = Model.ID }, new { @class = "btn btn-danger" })
                        }
                    }

                </p>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Dashboard", "../Dashboard")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
